*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 292px;
    height: 451px;
    border-radius: 10px;
}

main .conteiner{
    padding: 20px;
}

main .conteiner .conteiner-img picture img{
    width: 263px;
    height: 262px;
    border-radius: 10px;
}

main .conteiner .conteiner-descricao{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    padding: 15px 0px;
}

main .conteiner .conteiner-descricao h1{
    font-weight: 700;
}

main .conteiner .conteiner-descricao p{
    font-size: 15px;
    font-weight: 400;
}

footer{
    font-size: 11px; 
    text-align: center;
    margin: 20px 0px; 
}

footer a{
   color: hsl(228, 45%, 44%);
}

@media (min-width: 200px) and (max-width:599px){
    .main{
        width: 80vw;
    }
}